<!DOCTYPE html>
<head>

</head>
<body>
	<!-- <img src="http://localhost:8080${image}" /> -->
	<h1>Dear ${firstName} ${lastName}</h1>
 
	Sending Email Using Spring Smtp Email + Velocity Template from ${location} location.

	Thanks!
	<br/>
	
</body>
</html>